.navbar-content {
    align-items: center;
    display: flex;
    padding: 20px 12px;
    background: aquamarine;
}

.logo {
    color: #414a5d;
    font-size: 30px;
    font-weight: 900;
    padding-left: 19px;
}

@media screen and (max-width: 800px) {
    .navbar-content{
        width: 100%;
    }
}